.navLink_project{
  text-align: center;
  border-radius: 7px;
  text-shadow: 2px 2px black;
  padding: 5px 25px;
  color: #AAA9AD;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(122, 121, 121, 0.444);
  font-family: 'Share Tech Mono', monospace;
  text-decoration: none;
}

@media(max-width:501px){
  .projects, .projectList{
    flex-direction: column;
    margin-bottom: 20px;
  }

}

.projectH3{
  margin-top: 10px;
  color: #AAA9AD;
  font-size: 25px;
  text-shadow: 2px 2px black;
  text-align: center;
}

.centeredBtns{
  display: flex;
  justify-content: center;
}

.projectBtn{
  text-align: center;
  border-radius: 7px;
  text-shadow: 2px 2px black;
  padding: 20px 25px;
  color: #AAA9AD;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 5px 20px rgba(122, 121, 121, 0.444);
  font-family: 'Share Tech Mono', monospace;
  text-decoration: none;
}
.projectBtn:hover{
  color: white;
}

img.pokedex{
  margin: auto;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoproject{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.projects{
  margin-left: 10px;
}

.projectsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


@media(max-width:501px){

  img.pokedex{
    margin: auto;
    max-width: 350px;
  }
}